<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvp.dao.IDtsTaskDao">
	<insert id="insert" useGeneratedKeys="true" parameterType="java.util.List">
		REPLACE INTO dts_log
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.0},#{item.1},#{item.2},#{item.3},#{item.4},#{item.5},#{item.6},#{item.7},
			#{item.8},#{item.9},#{item.10},#{item.11},#{item.12},#{item.13},#{item.14},#{item.15},
			#{item.16},#{item.17},#{item.18},#{item.19},#{item.20},#{item.21},#{item.22},#{item.23},
			#{item.24},#{item.25},#{item.26},#{item.27},#{item.28},#{item.29},#{item.30},#{item.31},
			#{item.32},#{item.33},#{item.34},#{item.35},#{item.36},#{item.37},#{item.38},#{item.39},
			#{item.40},#{item.41},#{item.42},#{item.43},#{item.44},#{item.45},#{item.46},#{item.47},
			#{item.48},#{item.49},#{item.50},#{item.51},#{item.52},#{item.53},#{item.54},#{item.55},
			#{item.56},#{item.57},#{item.58},#{item.59},#{item.60},#{item.61},#{item.62},#{item.63},
			#{item.importDate}, #{item.updateDate}
			)
		</foreach>
	</insert>

	<select id="query" resultType="java.util.HashMap">
	<![CDATA[
		SELECT
		a.ticket_No,a.c_Version,DATE_FORMAT(created_Time,'%Y%m01') as created_Time,a.dtsNum,a.closedNum,a.nopassNum,
		(CASE WHEN
		a.dtsNum = 0 THEN 0 ELSE (a.closedNum/a.dtsNum) END) AS resoRate
		from
		(
		SELECT ticket_No, c_Version,created_Time,
		COUNT(*) AS dtsNum,
		COUNT(CASE WHEN
		curent_Status = '${@com.icss.mvp.Constants@CLOSE}' THEN 1 ELSE NULL END) AS closedNum,
		COUNT(CASE
		WHEN failures >0 THEN 1 ELSE NULL END) AS nopassNum
		FROM dts_log
		WHERE
		curent_Status != '${@com.icss.mvp.Constants@CANCEL}' AND (colse_Type IS NULL ||
		colse_Type = '' ||
		colse_Type='${@com.icss.mvp.Constants@CLOSURE_AFTER_CORRECTION}')
		and SUBSTRING(created_Time, 1,7) <= SUBSTRING(now(), 1,7)
		and SUBSTRING(created_Time, 1,7) >= SUBSTRING(date_add(NOW(), interval -2 month), 1,7)
		GROUP BY c_Version,DATE_FORMAT(created_Time,'%Y%m')
		)a
		]]>
	</select>
	<select id="queryDI" resultType="java.util.HashMap">
	<![CDATA[
		select ticket_No, c_Version,DATE_FORMAT(created_Time,'%Y%m01') as created_Time,
		10*critNum+3*majNum+1*minNum+0.1*sugNum AS dtsLeaveDINum
		from (
		SELECT ticket_No, c_Version,created_Time,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@CRITIAL}' THEN 1 ELSE NULL END) AS critNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MAJOR}' THEN 1 ELSE NULL END) AS majNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MINOR}' THEN 1 ELSE NULL END) AS minNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@SUGGESTION}' THEN 1 ELSE NULL END) AS sugNum
		FROM dts_log
		WHERE curent_Status != '${@com.icss.mvp.Constants@CANCEL}' 
		AND curent_Status != '${@com.icss.mvp.Constants@CLOSE}' AND
		(colse_Type IS NULL || colse_Type = '' || colse_Type='${@com.icss.mvp.Constants@CLOSURE_AFTER_CORRECTION}')
		and SUBSTRING(created_Time, 1,7) <= SUBSTRING(now(), 1,7)
		and SUBSTRING(created_Time, 1,7) >= SUBSTRING(date_add(NOW(), interval -2 month), 1,7)
		GROUP BY c_Version,DATE_FORMAT(created_Time,'%Y%m')) a
		]]>
	</select>

	<select id="queryTr5DI" resultType="java.util.HashMap">
	<![CDATA[
		SELECT ticket_No, c_Version,DATE_FORMAT(created_Time,'%Y%m01') as created_Time,
		10*critialNum+3*majorNum+1*minorNum+0.1*suggestionNum AS TR5DI
		from (
		SELECT ticket_No, c_Version,created_Time,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@CRITIAL}' THEN 1 ELSE NULL END) AS critialNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MAJOR}' THEN 1 ELSE NULL END) AS majorNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MINOR}' THEN 1 ELSE NULL END) AS minorNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@SUGGESTION}' THEN 1 ELSE NULL END) AS
		suggestionNum
		FROM dts_log
		WHERE curent_Status != '${@com.icss.mvp.Constants@CANCEL}' 
		AND curent_Status != '${@com.icss.mvp.Constants@CLOSE}' AND
		(colse_Type IS NULL || colse_Type = '' || colse_Type='${@com.icss.mvp.Constants@CLOSURE_AFTER_CORRECTION}') 
		AND defect_Found_Stage = '${@com.icss.mvp.Constants@SYSTEM_VERIFICATION_TEST_SVT}'
		and SUBSTRING(created_Time, 1,7) <= SUBSTRING(now(), 1,7)
		and SUBSTRING(created_Time, 1,7) >= SUBSTRING(date_add(NOW(), interval -2 month), 1,7)
		GROUP BY c_Version,DATE_FORMAT(created_Time,'%Y%m')) a
		]]>
	</select>
	
	<select id="queryTr6DI" resultType="java.util.HashMap">
	<![CDATA[
		SELECT ticket_No, c_Version,DATE_FORMAT(created_Time,'%Y%m01') as created_Time,
		10*critialNum+3*majorNum+1*minorNum+0.1*suggestionNum AS TR6DI
		from (
		SELECT ticket_No, c_Version, created_Time,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@CRITIAL}' THEN 1 ELSE NULL END) AS critialNum, 
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MAJOR}' THEN 1 ELSE NULL END) AS majorNum, 
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@MINOR}' THEN 1 ELSE NULL END) AS minorNum,
		COUNT(CASE WHEN severity = '${@com.icss.mvp.Constants@SUGGESTION}' THEN 1 ELSE NULL END) AS suggestionNum
		FROM dts_log
		WHERE curent_Status != '${@com.icss.mvp.Constants@CANCEL}' 
		AND curent_Status != '${@com.icss.mvp.Constants@CLOSE}' 
		AND (colse_Type IS NULL || colse_Type = '' || colse_Type='${@com.icss.mvp.Constants@CLOSURE_AFTER_CORRECTION}') 
		AND defect_Found_Stage in ('${@com.icss.mvp.Constants@BETA_TEST}', '${@com.icss.mvp.Constants@GA}', 
		'${@com.icss.mvp.Constants@LIFT_CYCLE}', '${@com.icss.mvp.Constants@NETWORK_ENTRY_TEST}', '${@com.icss.mvp.Constants@TR5_GA}')
		and SUBSTRING(created_Time, 1,7) <= SUBSTRING(now(), 1,7)
		and SUBSTRING(created_Time, 1,7) >= SUBSTRING(date_add(NOW(), interval -2 month), 1,7)
		GROUP BY c_Version,DATE_FORMAT(created_Time,'%Y%m')) a
		]]>
	</select>
	<select id="queryDensity" resultType="java.util.HashMap">
	<![CDATA[
		select ticket_No, c_Version,month,betaTestNum+SITNum+SVTNum as amountNum 
         from
         (
        select ticket_No,c_Version, DATE_FORMAT(created_Time,'%Y-%m-01') as Month, 
		COUNT(CASE WHEN defect_Found_Stage = '${@com.icss.mvp.Constants@BETA_TEST}' THEN 1 ELSE NULL END) AS betaTestNum,
		COUNT(CASE WHEN defect_Found_Stage = '${@com.icss.mvp.Constants@SYSTEM_INTEGRATION_TEST_SIT}' THEN 1 ELSE NULL END) AS SITNum,
		COUNT(CASE WHEN defect_Found_Stage = '${@com.icss.mvp.Constants@SYSTEM_VERIFICATION_TEST_SVT}' THEN 1 ELSE NULL END) AS SVTNum
		FROM dts_log
		WHERE curent_Status != '${@com.icss.mvp.Constants@CANCEL}' AND
		(colse_Type IS NULL || colse_Type = '' || colse_Type='${@com.icss.mvp.Constants@CLOSURE_AFTER_CORRECTION}')
		and SUBSTRING(created_Time, 1,7) <= SUBSTRING(now(), 1,7)
		and SUBSTRING(created_Time, 1,7) >= SUBSTRING(date_add(NOW(), interval -2 month), 1,7)
		GROUP BY c_Version,Month) a    
		]]>
	</select>
	
</mapper>