<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvp.dao.IParameterInfo">
	<select id="queryParameterInfo" parameterType="com.icss.mvp.entity.ParameterInfo"
		resultType="com.icss.mvp.entity.ParameterInfo">
		SELECT * from
		parameter_info
	</select>
	<select id="queryParamId" parameterType="int"
		resultType="com.icss.mvp.entity.ParameterInfo">
		SELECT * from
		parameter_info where id=#{paramId} 
	</select>
</mapper>