<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvp.dao.IProjectManagerDao">
	<select id="getAllProjectInfo" resultType="com.icss.mvp.entity.ProjectInfo">
		select * from project_info
	</select>

</mapper>